html, body {
    background: rgb(243, 243, 243);
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

header {
    width: 100%;
    height: 10%;
    min-height: 85px;
    max-height: 85px;
    background-color: rgb(52, 152, 219);
}

main {
    bottom: 90%;
    /*height: 90%;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

footer {
    width: 100%;
    min-height: 55px;
    background-color: rgb(52, 152, 219);
    flex: 0 0 auto;
    font-size: 9px;
    text-align: center;
}

footer > p {
    margin: auto;

}

main::-webkit-scrollbar {
    /* This is the magic bit */
    /*display: none;*/
}

@media screen and (max-width: 700px) {
    .content {
        max-width: 375px;
        max-height: 300px;

        margin: 20px;
    }

    .more {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;

        background-color: rgb(255, 253, 252);
        border: none;

        font-size: 21px;
    }

    .content-footer-description {
        width: 100%;
        height: 70%;
        border-top: 1px solid gainsboro;
        font-size: 11px;
    }

}

@media screen and (min-width: 700px) {

    .more {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;

        background-color: rgb(255, 253, 252);
        border: none;
        font-size: 36px;
    }

    .content-footer-description {
        width: 100%;
        height: 70%;
        border-top: 1px solid gainsboro;
    }
}

.username {
    font-size: 9px;
    color: rgb(255, 253, 252);
}

.headerText {
    color: rgb(255, 253, 252);
    height: 100%;
    font-size: 7vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    margin: auto;

}

.header-button {
    background-color: rgb(52, 152, 219);
    border: none;
    width: 60px;
    height: 85px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.permanentMarkerFont {
    font-family: 'Permanent Marker', cursive;
    font-size: 90%;

}

.copseFont {
    font-family: 'Copse', serif;
    font-size: 90%;

}

.posts {
    list-style-type: none;
}
.sticky-position{
    position: sticky;
}

.content {
    width: 600px;
    height: 500px;

    background-color: rgb(250, 250, 250);
    border: 1px solid darkgray;
    margin: 30px;
}

.content-header {
    width: 100%;
    height: 8%;
    border-bottom: 1px solid gainsboro;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-header-username {
    margin-left: 5px;
    width: 45%;
    height: 100%;
    color: rgb(52, 152, 219);
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.span-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-header-data-of-publication {
    /*margin-left: 70%;*/
    width: 45%;
    height: 100%;
    color: #cccccc;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;

}

.content-header-menu {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.content-main {
    width: 100%;
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-footer {
    width: 100%;
    height: 30%;
}

.content-footer-status {
    width: 100%;
    height: 30%;
    display: flex;
    border-top: 1px solid gainsboro;
}

.content-main-img {
    height: 100%;
    width: 100%;

}

.content-main-img-wrapper {
    height: 98%;
    width: 98%;

}

.likes-block {
    height: 100%;
    width: 8%;
    display: flex;
    flex-direction: column;
}

.empty-block {
    height: 100%;
    width: 84%;
    display: flex;
    flex-direction: column;
}

.hash-tags-block {
    height: 100%;
    width: 8%;
    display: flex;
    flex-direction: column;
}

.description {
    color: rgba(60, 63, 65, 0.51);

}

.hash-tags {
    width: 10%;
    height: 100%;
    background-color: rgb(255, 253, 252);
    border: none;
}

.filter {
    min-height: 40px;
    display: flex;
    flex-direction: row;
    margin: 20px;

}

.likes {
    height: 100%;
margin-left: 5px;
    color: rgba(60, 63, 65,0.9);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Dropdown Button */
.dropbtn {
    color: black;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
}

/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}